<div class="ui main text container">
  <h1 class="ui header">Sync starter</h1>
  <p>When come up with a problem, ask yourself what is the easiest way to solve it.</p>
</div>


<div class="ui borderless main menu">
  <div class="ui text container">
    <div href="#" class="header item">
      <img class="logo" src="https://semantic-ui.com/examples/assets/images/logo.png">Sync starter
    </div>
    <a routerLink="/android" class="item">Android</a>
    <a routerLink="/rail" class="item">Rail</a>
    <a routerLink="/angular" class="item">Angular</a>
  </div>
</div>
