<h2 class="ui header container" style="margin-top: 30px">
  <i class="write icon"></i>
  <div class="content">
    Articles
  </div>
</h2>
<div class="ui divider container"></div>
<div class="ui container">
  <div class="ui container">
    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="first">Body</a>
      <a class="item" data-tab="second">Preview</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
      <div class="ui small basic buttons container">
        <button class="ui button"><i class="bold icon"></i></button>
        <button class="ui button"><i class="italic icon"></i></button>
        <button class="ui button"><i class="header icon"></i></button>
        <button class="ui button"><i class="quote left icon"></i></button>
        <button class="ui button"><i class="list icon"></i></button>
        <button class="ui button"><i class="ordered list icon"></i></button>
        <button class="ui button"><i class="linkify icon"></i></button>
        <button class="ui button"><i class="image icon"></i></button>
        <div class="editor-container">
          <div class="editor-panel text container" style="height: 400px;">
            <div class="ace-editor" #editor></div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui bottom attached tab segment" #preview data-tab="second"></div>
  </div>
  <br>
  <form class="ui form">
    <div class="field">
      <label>Title</label>
      <input type="text" name="first-name" placeholder="Title">
    </div>
    <button class="ui button primary" type="submit">Save Change</button>
    <button class="ui button teal" type="submit">Cancel</button>
  </form>
</div>
